.start {
  display: block;
}

input {
  width: 200px;
}

body {
  background-color: rgb(48, 48, 77);
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.output {
  display: flex;
  gap: 20px;
  flex-direction: column;
  text-align: center;
}

.message {
  margin-top: 20px;
  font-size: 20px;
  color: antiquewhite;
}

input {
  align-self: center;
}
